.highlight, .warning-strong, .warning-weak {
    padding: 0.2em 0.3em 0.2em  0.3em;
    color: white;

} .highlight a, .warning-strong a, .warning-weak a {
    font-weight: bold;
    color: white;

} .highlight {
    background-color: #37f;

} .warning-strong {
    background-color: #f44;

} .warning-weak {
    background-color: #e80;
    
}