<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title>OTU: what's in there?</title>

        $$HEAD_CONTENT$$

        <style>
body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */

} #resultsTable td {
    vertical-align: middle;
    padding: 0.3em;

} #searchContainer {
    position: relative;

} #indexingForm {
    background: white;
    position: absolute;
    padding: 0.3em;
    top: 3.25em;
    right: 0;
    width: 19em;

} #statusCount, #statusMessage {
    font-size: 0.9em;

} #searchText, #propertySelect {
    height: 2.2em;

} #searchText {
    width: 20em;
    margin: 0 0.35em 0 0;

} #propertySelect {
    width: 15em;
    
} .labelSpacer {
    padding-left: 2em;
}
        </style>
    </head>
    <body>

        $$NAVBAR$$

        <div class="container">
            
            <div id="searchContainer">
                <h3>Find local and remote sources</h3>
                <form id="searchform" class="form-inline">
                    <div class="btn-group" data-toggle="buttons-radio">
                        <input id="searchText" type="text"></input>
                        <select id="propertySelect" class="select-large"></select>
                    </div>
                    <button type="button" class="btn btn-medium btn-primary" onclick="search(); return false;">Search</button>
                </form>
                <div id="indexingForm">
                    <form class="form-inline">
                        <button type="button" class="btn btn-medium " onclick="initRemoteIndexing(); return false;">Index remote sources for searching</button>
                    </form>
                    <div id="statusCount"></div>
                    <div id="statusMessage"></div>
                </div>
            </div>

            <h4 id="resultsHeader">Results</h4>
                <div>
                    <form class="inline-form" id="filterButtonsForm">
                        <strong>Filter:</strong>
                        <span class="labelSpacer">Ingroup:</span>
                        <div class="btn-group" data-toggle="buttons-radio" id="ingroupButtons">
                            <button type="button" class="btn btn-small" name="ingroupSet" id="ingroupSetBtn">Set</button>
                            <button type="button" class="btn btn-small" name="ingroupSet" id="ingroupNotSetBtn">NOT set</button>
                            <button type="button" class="btn btn-small" name="ingroupSet" id="ingroupAllBtn">Both</button>
                        </div>
                        <span class="labelSpacer">Rooting:</span>
                        <div class="btn-group" data-toggle="buttons-radio" id="rootingButtons">
                            <button type="button" class="btn btn-small" name="ingroupSet" id="rootingSetBtn">Set</button>
                            <button type="button" class="btn btn-small" name="ingroupSet" id="rootingNotSetBtn">NOT set</button>
                            <button type="button" class="btn btn-small" name="ingroupSet" id="rootingAllBtn">Both</button>
                        </div>
                        <span class="labelSpacer">Names:</span>
                        <div class="btn-group" data-toggle="buttons-radio" id="namesMappedButtons">
                            <button type="button" class="btn btn-small" name="ingroupSet" id="namesMappedBtn">All mapped</button>
                            <button type="button" class="btn btn-small" name="ingroupSet" id="namesNotMappedBtn">Some NOT mapped</button>
                            <button type="button" class="btn btn-small" name="ingroupSet" id="namedMappedAllBtn">Both</button>
                        </div>
                    </form>
                </div>
                <!--div id="results">
                    <table id="resultsTable"></table>
                </div-->
                
                <table id="resultsTable" class="table table-striped">
                    <!--thead>
                        <tr><th>Source</th></tr>
                    </thead-->
                </table>


        </div>
        <script language ="javascript" type = "text/javascript" >

/////////////////////////////////////////////
//
//
//      search
//
//
//

function search() {
	getRecentHash();
    var propertyServiceURL = "http://localhost:7474/db/data/ext/Indexing/graphdb/search";

    var property = $("#propertySelect").val();
    var value = $("#searchText").val();

    $("#resultsHeader").html("Results for " + property + " = " + value + ":");
    document.getElementById("resultsTable").innerHTML = "";

    var xobj = new XMLHttpRequest();
    xobj.onreadystatechange=function() {
        if (xobj.readyState==4 && xobj.status==200) {

            jsonrespstr = xobj.responseText;
            var resultIds = JSON.parse(jsonrespstr);
            $(resultIds).each(function(i) {
                addResult(resultIds[i]);
            });
        }
    }
    xobj.open("POST", propertyServiceURL, true);
    xobj.setRequestHeader("Accept", "");
    xobj.setRequestHeader("Content-Type","Application/json");


    xobj.send(JSON.stringify({"property":property,"value":value}));
}

function addResult(sourceId) {
    var sourceMetadataService = "http://localhost:7474/db/data/ext/sourceJsons/graphdb/getSourceMetaData";
    var xobj = new XMLHttpRequest();
    xobj.open("POST", sourceMetadataService, true);

    // set the response callback
    xobj.onreadystatechange=function() {

        if (xobj.readyState==4 && xobj.status==200) {
			var response = JSON.parse(xobj.responseText);
			
			// add the id
			var objRow = document.createElement("tr");
			$(objRow).append('<td>'+sourceId+'</td>');

			var formCell = document.createElement("td");
			if (response.has_local_copy == true) {
                
				// if the study is loaded then provide a button to view it
				var viewForm = document.createElement("form");
				$(viewForm).attr("style","display: inline")
					.attr("action", "source_view.py").attr("method", "GET")
					.append($(document.createElement("button")).attr("name","submit").attr("type","submit").addClass("btn btn-primary").css("width","5em").append("View"))
					.append('<input type="hidden" name="sourceId" id="sourceId" value="'+sourceId+'" />');
				$(formCell).append(viewForm);
			} else {

				// otherwise provide a button to load it
				var loadForm = document.createElement("form");
				$(loadForm).attr("style","display: inline")
					.attr("action", "load_sources.py").attr("method", "POST")
					.append($(document.createElement("button")).attr("name","submit").attr("type","submit").attr("enctype","multipart/form-data").addClass("btn").css("width","5em").append("Import"))
					.append('<input type="hidden" name="hidden_nexson_from_git" id="hidden_nexson_from_git" value="true" />')
					.append('<input type="hidden" name="nexsonid" id="nexsonid" value="' + sourceId + '" />')
					.append('<input type="hidden" name="recenthash" id="recenthash" value="' + recenthash + '" />');
				$(formCell).append(loadForm);
			}
			$(objRow).append(formCell);
			$(objRow).append('<td style="font-size:0.8em">' + response.metadata['ot:studyPublicationReference'].substring(0,120) + '...</td>');

			$("#resultsTable").append(objRow);
		}
	};
    
    // send the request
    xobj.setRequestHeader("Accept", "");
    xobj.setRequestHeader("Content-Type","application/json");
    xobj.send(JSON.stringify({"sourceId":sourceId}));
}

var recenthash= "(commit hash unknown)";
function getRecentHash() {
    var nexsonsInfoService = "http://localhost:7474/db/data/ext/Indexing/graphdb/getMostCurrentNexsonsURL";
    var xobj = new XMLHttpRequest();
    xobj.open("POST", nexsonsInfoService, false);

	// send the request
    xobj.setRequestHeader("Accept", "");
    xobj.setRequestHeader("Content-type", "Application/json");
    xobj.send("");

    // set the response callback
//	alert("response was" + xobj.responseText);
	if (xobj.readyState==4 && xobj.status==200) {
//		alert(xobj.responseText);
		recenthash = JSON.parse(xobj.responseText).recenthash;
	}
}

/////////////////////////////////////////////
//
//
//      indexing
//
//
//

// used during source indexing
var countProcessed = 0;
var totalCount = 0;

function initRemoteIndexing() {
    setStatus("Indexing in progress! Keep this window open until indexing is complete, or close this window to stop indexing.");

    var mostCurrentCommitURL = "http://localhost:7474/db/data/ext/Indexing/graphdb/getMostCurrentNexsonsURL";
    var xobj = new XMLHttpRequest();
    xobj.onreadystatechange=function() {
        if (xobj.readyState==4 && xobj.status==200) {
            curNexsonsBaseURL = JSON.parse(xobj.responseText).url;
            alert("Attempting to read nexsons from: " + curNexsonsBaseURL);
            indexEachRemoteNexson(curNexsonsBaseURL);
        }
    }
    xobj.open("POST", mostCurrentCommitURL, true);
    xobj.setRequestHeader("Accept", "*/*");
    xobj.setRequestHeader("Content-Type","Application/json");
    xobj.send("");

}

var sources;

function indexEachRemoteNexson(curNexsonsBaseURL) {
    var nexsonsListURL = "http://localhost:7474/db/data/ext/Indexing/graphdb/getNexsonsListFromURL";

    countProcessed = 0;

    var xobj = new XMLHttpRequest();
    xobj.onreadystatechange=function() {
//		alert(xobj.responseText);
        if (xobj.readyState==4 && xobj.status==200) {
//        alert(xobj.responseText);
            sources = JSON.parse(xobj.responseText);
            totalCount = sources.length;
//            for (var i=0; i < sources.length; i++) {
//                alert("sending " + sources[i]); 
                indexSourcesRecursive(0);//, curNexsonsBaseURL + sources[0]);
//            }
        }
    }
    
    xobj.open("POST", nexsonsListURL, true);
    xobj.setRequestHeader("Accept", "*/*");
    xobj.setRequestHeader("Content-Type","Application/json; charset=utf-8");

    document.getElementById("statusCount").innerHTML = "<p>Sources processed: 0</p>";

    xobj.send(JSON.stringify({"url":curNexsonsBaseURL}));

}

function indexSourcesRecursive(i) { //, url) {
    var sourceId = sources[i];
    var url = curNexsonsBaseURL +  sourceId; // url;
    
    
    
//    setTimeout(function() {
        var indexServiceURL = "http://localhost:7474/db/data/ext/Indexing/graphdb/indexSingleNexson";
//        alert("received " + sourceId); 

        var xobj = new XMLHttpRequest();
        xobj.onreadystatechange=function() {
            if (xobj.readyState==4) {
                if (xobj.status==200) {
                    
                /*
                    
                    if (JSON.parse(xobj.responseText) == true) {
                        setStatus("Indexed source: " + sourceId);
                    } else {
                        setStatus("Source " + sourceId + " was not indexed. It does not appear to contain any trees.");
                    }
                } else if (xobj.status >= 400) {
                    setStatus("Indexing failed for source " + sourceId + ". Server returned status " + xobj.status + ".");
                    setStatus(xobj.responseText);
                }
                
                */

                }

                i++;
                document.getElementById("statusCount").innerHTML = "<p>Sources processed: " + i + " / " + totalCount + "</p>";
 
                if (countProcessed < totalCount) {
                    indexSourcesRecursive(i, url)
                }
            }
        }
        xobj.open("POST", indexServiceURL, true);
        xobj.setRequestHeader("Accept", "*/*");
        xobj.setRequestHeader("Content-Type","Application/json");
        xobj.send(JSON.stringify({ "sourceId" : sourceId, "url" : url }));
//    }, delay);
}

function setStatus(statusMsg, replace) {
    var msg = document.createElement('p');
    msg.innerHTML = statusMsg;
    if (replace == true) {
        document.getElementById("statusMessage").innerHTML=msg.innerHTML;
    } else {
        document.getElementById("statusMessage").appendChild(document.createElement("p"));
        document.getElementById("statusMessage").appendChild(msg);
    }
}

/////////////////////////////////////////////
//
//
//      onload and page setup
//
//
//

function fillPropertyList(){
    var propertyServiceURL = "http://localhost:7474/db/data/ext/Indexing/graphdb/getSearchableProperties";
    var xobj = new XMLHttpRequest();
    xobj.onreadystatechange=function() {
        if (xobj.readyState==4 && xobj.status==200) {
        
            jsonrespstr = xobj.responseText;
//            alert(jsonrespstr);
        
            var pMap = JSON.parse(jsonrespstr);
            var names = Object.keys(pMap);

            $(names).each(function(i){
                var item = document.createElement("option");
                item.setAttribute("value", pMap[names[i]]);
                item.innerHTML=names[i];
                document.getElementById("propertySelect").appendChild(item);
            });
        }
    }
    xobj.open("POST", propertyServiceURL, true);
    xobj.setRequestHeader("Accept", "");
    xobj.setRequestHeader("Content-Type","Application/json");
    xobj.send("");
}
            
function displayLocalSourceList() {
    var sourcelinkurl ="source_view.py?sourceId="
    var sourceListService = "http://localhost:7474/db/data/ext/sourceJsons/graphdb/getSourceList";
    
    $("#resultsHeader").html("All local sources");
    
    var xobj = getXhr(sourceListService, function() {
        var response = JSON.parse(xobj.responseText);
        $(response.sources).each(function(i, sourceId){
            addResult(sourceId);
//             $('#resultsTable').append('<tr><td> <a href="' + sourcelinkurl + sourceId + '">' + sourceId + '</a> </td></tr>');       
        });
    });
    xobj.send();
}

$(document).ready(function() {
    
    displayLocalSourceList();
    
    fillPropertyList();
});

        </script> 
    </body>
</html>
