<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title>OTU: look at that tree</title>

        $$HEAD_CONTENT$$

        <style>
            
body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */

} #buttonBar {
    padding-right: 20em;

} #buttonBar button {
    margin-top: 0.3em;

} #deleteRecordButtons {

} #loadFormContainer {
    position: absolute;
    top: 7.15em;
    right:3em;
    width: 22em;
    padding-right:0em;

} #statusMessage {
    display: inline-block;
    font-size: 0.9em;
    margin-top: -0.6em;
    margin-bottom: 0.6em;

} #resultsSummary {
    margin-top: 0.5em;

} #nodeEditor {
    background-color: white;
	position: absolute;
	border: 0.1em solid lightgrey;
	padding: 0.2em 0.5em 0.3em 0.5em;
	width: 20em;

} #nodeEditor h3 {
    border-width: .8em 0 0 0;
    border-color: #888;
    border-style: solid;

/*    color: white;
    background-color: #555; */

    padding: 0.3em;
    margin-top: 0.2em;
    
    line-height: 1em;

} #nodeEditor .originalLabel {
    font-size: 0.9em;

} #nodeEditor form {
    background: #eee;
    padding: 0.3em;
    margin: 0 0 0.3em 0;
//    border: 1px solid red;

} #nodeEditor form#altMatchesForm {
    background: #fbb;

} #nodeEditor form input {
    margin: 0 0.3em 0 0;
    height: 2em;
    
} #nodeEditor form button {
    margin: 0;

} #autocompleteSuggestions {
    border-left: 2px solid #999;
    padding: 0 0 0 0.5em;
    margin: 0.3em;

} #autocompleteSuggestions li {
    list-style: none;

} #assignTagForm {
    height: 2em;
    
} #assignTagForm input {
    width: 6.55em;
    
}
        </style>
    </head>
    <body>

        $$NAVBAR$$

        <div class="container">
            <div id="loadFormContainer">
                <div>
                    Load a different tree from this source
                    <form class="form-inline" action="tree_view.py" method="GET">
                        <select id="loadSelectThisSource" name="treeId" style="width:16em;"></select>
                        <button type="submit" class="btn" id="thisSourceButton">Load</submit>
                    </form>
                </div>
                <div>
                    Load a different tree from any source
                    <form class="form-inline" action="tree_view.py" method="GET">
                        <select id="loadSelectAll" style="width:16em;" name="treeId"></select>
                        <button type="submit" class="btn" id="allSourceButton">Load</button>
                    </form>
                </div>
            </div>
            <h3 id="treeId"></h3>
            <span id="statusMessage"></span>
            <div id="buttonBar">
                <div class="btn-group" data-toggle="buttons-radio" id="editingButtons">
                    <button type="button" class="btn btn-medium " name="cac" value=1 id="refocusButton">Refocus</button>
                    <button type="button" class="btn btn-medium " name="cac" value=2 id="rerootButton">Reroot</button>
                    <button type="button" class="btn btn-medium " name="cac" value=3 id="ingroupButton">Choose Ingroup</button>
                </div>
                <button type="button" class="btn btn-medium " id="tnrsButton">Resolve taxon names</button>
                <div class="btn-group" id="deleteRecordButtons">
                    <button type="button" class="btn btn-medium " name="cac" value=2 id="recordButton">Record my edits</button>
                    <button type="button" class="btn btn-medium " name="cac" value=1 id="revertButton">Revert to saved copy</button>
                    <button type="button" class="btn btn-medium " id="deleteTreeButton">Delete Tree</button>
                </div>
            </div>
            <div id="resultsSummary"></div>
        </div>

        <script>

// geometry

var margin = {top: 20, right: 120, bottom: 20, left: 120},
    width = 4000 - margin.right - margin.left,
    height = 5000 - margin.top - margin.bottom;

var nheight = 30;

var i = 0,
    duration = 750,
    root;

var tree = d3.layout.cluster()
    .size([height, width]);

var diagonal = d3.svg.diagonal()
    .projection(function(d) { return [d.y, d.x]; });

var svg = d3.select("body").append("svg").attr("id","treeSVG")
    .attr("width", width + margin.right + margin.left)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


//////////////////////////////////////////
//
//
//      dropdown menus for tree selection
//
//

// gets a list of all trees *within the current study*
function getSourceTreeList(sourceId, treeId) {
    var treeIdsService = "http://localhost:7474/db/data/ext/sourceJsons/graphdb/getTreeIdsForLocalSource";
    var xhr = getXhr(treeIdsService, function() {
        var response = JSON.parse(xhr.responseText);
        document.getElementById("loadSelectThisSource").innerHTML = "";
        $(response.trees).each(function(i, tid) {
            $('#loadSelectThisSource')
                .append('<option value=' + tid + '> treeId:' + tid + '</option>');
        });
        if (response.trees.length < 1) {
            $('#loadSelectThisSource')
                .append('<option>No other trees for this source</option>')
                .attr("disabled","disabled")
                .css("color","#999");
            $("#thisSourceButton")
                .attr("disabled","disabled")
                .addClass("disabled");
        } else {
            $('#loadSelectThisSource')
                .removeAttr("disabled")
                .css("color","");
            $("#thisSourceButton")
                .removeAttr("disabled","disabled")
                .removeClass("disabled");
        }
    });
    xhr.send(JSON.stringify({"sourceId":sourceId ? sourceId : "nothing", "excludedTreeIds":[treeId ? treeId : "nothing"]}));
}

// gets a list of all local trees for all studies
function getAllLocalTreeList(treeId) {
    var treeIdsService = "http://localhost:7474/db/data/ext/sourceJsons/graphdb/getTreeIdsForAllLocalSources";
    var xhr = getXhr(treeIdsService, function() {
        var response = JSON.parse(xhr.responseText);
        document.getElementById("loadSelectAll").innerHTML = "";
        $(response.trees).each(function(i, tid) {
            $('#loadSelectAll')
                .append('<option value=' + tid + '> treeId:' + tid + '</option>');
        });
        if (response.trees.length < 1) {
            $('#loadSelectAll')
                .append('<option>No other local trees</option>')
                .attr("disabled","disabled").css("color","#999");
            $("#allSourceButton")
                .attr("disabled","disabled")
                .addClass("disabled");
        } else {
            $('#loadSelectAll')
                .removeAttr("disabled")
                .css("color","");
            $("#allSourceButton")
                .removeAttr("disabled","disabled")
                .removeClass("disabled");
        }
    });
    xhr.send(treeId ? JSON.stringify({"excludedTreeIds":[treeId]}) : "");
}

///////////////////////////////////////
//
//
//      tree drawing and editing
//
//

function setupTree(nodeId) {
    rootNodeId = nodeId;
    var treeJSONService = "http://localhost:7474/db/data/ext/treeJsons/graphdb/getTreeJson";
    var xhr = getXhr(treeJSONService, function() {
//        alert(xhr.responseText);
        d3.json("", function(error, flare) {
            root = JSON.parse(xhr.responseText);
            root.x0 = height / 2;
            root.y0 = 0;
            
            update(root);
            update(root);
        });            
    });
        
    xhr.send(JSON.stringify({"nodeId": nodeId}));
}

// Create the tree from the JSON
function update(source) {

    // gather nodes and links.
    var nodes = tree.nodes(root).reverse();
    var links = tree.links(nodes);
 
    // calculate height // has weird behavior, not consistent...
    var tips = 0;
    nodes.forEach(function(d) { d.children.length > 0 ? tips += 1 : tips += 0 });
    nheight = tips * 35;
    tree.size([nheight, 1760]);
    
    // Normalize for fixed-depth. // doesn't seem to be working
//  nodes.forEach(function(d) { d.y = d.depth * 180; });
    nodes.forEach(function(d) { d.y = d.depth * 50; });

    // Update the nodes… // magical code, no idea what is happening here
    var node = svg.selectAll("g.node").data(nodes, function(d) { return d.id || (d.id = ++i); });

    // Enter any new nodes at the parent's previous position.
    var nodeEnter = node.enter().append("g")
        .attr("class", "node")
        .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })

        // click handler for nodes
        .on("click", function(d) {

            // open the node editor for tips        
            $('#nodeEditor').remove();
            if (d.name) {
                updateNodeEditor(d);
                return;
            }
            
            // otherwise check the active button to determine the action
            var ac = $('button[name="cac"].active').val();
            var ev = d3.event;
    
            if (ac == 1){ // refocus
                setupTree(d.id);	
            } else if (ac == 2 ){ // reroot
                resetEditRadio();
                reroot (d.id);
            } else if (ac == 3){ // ingroup
                resetEditRadio();
                designateIngroup(d.id);
            } else if (ac == 4){ // export // not implemented?
                resetEditRadio();
                alert("behold! you wish to extract!!");
            } /* else if (ev.shiftKey) {
                // can also use ev.ctrlKey, etc. try alert(Object.keys(ev)) to see more
                alert("shiftclick");
            } */
        
        })
    
        // example of right click, currently same behavior here as normal click
        .on("contextmenu", function(d, index) {
            d3.event.preventDefault();
            if (d.name) {
                // stop showing browser menu
                updateNodeEditor(d);
            }
        });
    
    // just add elements on nodeEnter--we will set properties on nodeUpdate
    nodeEnter.append("circle");
    nodeEnter.append("rect");
    nodeEnter.append("text");

    // Transition nodes to their new position/appearance.
    var nodeUpdate = node.transition()
        .duration(duration)
        .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

    nodeUpdate.select("circle")
        .attr("r", 3)
        .style("stroke", "black")
        .style("fill", function(d) {
            var fill = d.within_ingroup ? "black" : "white"; 
            fill = d.notcomplete ? "lightgreen" : fill;
            return fill;
        });

    nodeUpdate.select("rect")
        .attr('x', 7)
        .attr("y", -7)
        .attr("height", 15)
        .attr("width", function(d) { return d.name ? d.name.length * 9 : 0; })
        .style("stroke-opacity", 1)

        // stroke depends on whether we see an ottol id
        .style("stroke", function(d) { return d["ot:ottolid"] ? "blue" : "red"; })

        // fill also depends on whether tnrs has been done
        .style("fill-opacity", function(d) { return d.processed_by_tnrs ? 1 : 0; })
        .style("fill", function(d) { return (d.processed_by_tnrs && d["ot:ottolid"]) ? "blue" : "red"; });
        
    nodeUpdate.select("text")
        .attr("x", function(d) { return d.children.length > 0 ? -10 : 10; })
        .attr("dy", ".35em")
        .attr("text-anchor", function(d) { return d.children.length > 0 ? "end" : "start"; })
        .text(function(d) { return d.size ? d.name + " (" + d.size + ")": d.name;})
        .style("font-size", "13px") 
        .style("font-family", "Arial")

        // text depends on name status
        .style("fill", function(d) { return d.processed_by_tnrs ?  "white" : "black" });


    // also see about using the .insert() method to insert the rects before the text elements.
    // just need to be able to find the text elements to get the bounding box... so, select the node,
    // select the text element and get the bounding box, insert a rect before the text element based
    /// on the bounding box




/* close to getting something here to draw the boxes around text based on the text bounding box...

//    nodeUpdate.select("rect")
    // draw the text boxes
    nodeUpdate[0].forEach( function(d) {

        alert(Object.keys(d3.select(d).select("text")));//[0][0].getBBox();

//        bbox = d3.select(d).select("text")[0][0].getBBox();
        alert(JSON.stringify(bbox));
        d3.select(d).append("rect")
//        d.append("rect")
            .attr("x", bbox.x)
            .attr("y", bbox.y)
            .attr("height", bbox.height)
            .attr("width", bbox.width)
//            .attr("width", function(d) { return d.name ? d.name.length * 6.5 : 0; })
            .style("stroke-opacity", 1)

            // stroke depends on whether we see an ottol id
            .style("stroke", function(d) { return d["ot:ottolid"] ? "blue" : "red"; })

            // fill also depends on whether tnrs has been done
            .style("fill-opacity", function(d) { return d.processed_by_tnrs ? 1 : 0; })
            .style("fill", function(d) { return (d.processed_by_tnrs && d["ot:ottolid"]) ? "blue" : "red"; });


//        alert(d3.select(d).select("text").);
//        d.append
//        alert(d3.select(d));
    }); */

    // Transition exiting nodes to the parent's new position.
    var nodeExit = node.exit().transition()
        .duration(duration)
        .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
        .remove();

    nodeExit.select("circle")
        .attr("r", 1e-6);

    nodeExit.select("text")
        .style("fill-opacity", 1e-6);

    // Update the links…
    var link = svg.selectAll("path.link")
        .data(links, function(d) { return d.target.id; });

    // Enter any new links at the parent's previous position.
    link.enter().insert("path", "g")
        .attr("class", "link")
        .style("fill","none")
        .style("stroke","black")
        .style("stroke-width", 1)
        .attr("d", function(d) {
            var o = {x: source.x0, y: source.y0};
            return diagonal({source: o, target: o});
        });

    // Transition links to their new position.
    link.transition()
        .duration(duration)
        .attr("d", diagonal);

    // Transition exiting nodes to the parent's new position.
    link.exit().transition()
        .duration(duration)
        .attr("d", function(d) {
            var o = {x: source.x, y: source.y};
            return diagonal({source: o, target: o});
        })
        .remove();

        
//    var text = [];
//    var text = ;
//    for (var i = 0; i < text.length; i++) {
//        alert(Object.keys(text[i]));
//    }
//      svg.selectAll("text")[0].forEach(function(d) { alert(Object.keys(d)) }); // { text.push(d.getBBox()) });
//    alert(text);

    // Stash the old positions for transition.
    nodes.forEach(function(d) {
        d.x0 = d.x;
        d.y0 = d.y;
    });
}

///////////////////////////////////////
//
//
//      node editor
//
//
//

var currentNode;

// open the node editor for the passed node (called by .click() method of nodes)
function updateNodeEditor(node) {

    /*
    // attempting to toggle node properties, currently not working
    if (currentNode) {d3.select(currentNode).select("circle").style("fill", node.within_ingroup ? "black" : "white");}
    currentNode = node;
    d3.select(currentNode).select("circle").style("fill", "red");
    */

    $('#nodeEditor').remove();
    var nodeEditor = document.createElement("div");
    $(nodeEditor).attr("id", "nodeEditor")
        .css("top",xo + node.x + 40)
        .css("left",yo + node.y - 30);

    // what follows is for otu nodes, could have a different case for internal nodes

    // name
    var name = node["ot:ottTaxonName"] ? node["ot:ottTaxonName"] : node["name"];
    $(nodeEditor).append("<h3>"+name+"</h3>");

    // original label
    if (name != node["ot:originalLabel"]) {
        $(nodeEditor).append('<p class="originalLabel">(originally: ' + node["ot:originalLabel"] + ')</p>');
    }

    // taxon assignment feedback
    var assignmentMessage = false;
    if (node["ot:ottolid"]) {
        assignmentMessage = 'Assigned to OTT taxon <a href="#">' + node["ot:ottolid"] + '</a>';
        assignmentMessage += node.processed_by_tnrs ? ", validated by TNRS." : ", not yet validated by TNRS.";
        assigned = true;
    } else {
        assignmentMessage = "Not assigned to any OTT taxon.";
    }
    $(nodeEditor).append($("<p>").append(assignmentMessage));
    
    // alternative mappings
    $(nodeEditor).append($("<div>")
        .attr("id","altMatchesContainer"));
    displayAlternativeMappings(node); // use ajax to populate the container
    
    var updateTimer;
    
    // assign different taxon form
    $(nodeEditor).append($("<form>")
        .attr("id", "assignTaxonForm")
        .addClass(" inline-form")
        .append("<p>Assign a different taxon to this node:</p>")
        .append($("<input>")
            .attr("type", "hidden")
            .attr("name", "nodeId")
            .val(node.id))
        .append($("<input>")
            .attr("type", "hidden")
            .attr("name", "ottId"))
        .append($("<input>")
            .attr("type", "text")
            .attr("id", "taxonNameAutocomplete")
            .attr("name", "ottTaxonName"))
            .on("input", function() {
                clearAssignTaxonForm();
                clearTimeout(updateTimer);
                updateTimer = setTimeout(function() {
                    updateTaxonAutocomplete()
                }, 1000);
            })
        .append($("<button>")
            .attr("type", "button")
            .attr("id", "submitAssignTaxonButton")
            .attr("disabled", "disabled")
            .append("Assign")));
        
    // assign tag form
    $(nodeEditor).append($("<form>")
        .attr("id", "assignTagForm")
        .addClass(" inline-form")
        .append($("<p>")
            .append("Tag this node: ")
            .append($("<input>")
                .attr("type", "hidden")
                .attr("name", "nodeId")
                .val(node.nodeId))
            .append($("<input>")
                .attr("type", "hidden")
                .attr("name", "ottId"))
            .append($("<input>")
                .attr("type", "text")
                .attr("name", "ottTaxonName"))
            .append($("<button>")
                .attr("type", "button")
                .append("Tag node")
                .click(function() { submitTagAnnotation(); })
            )));
    
    /*
    // property editor form
    $(nodeEditor).append($("<form>")
        .attr("id", "propertyEditForm")
        .addClass(" inline-form")
        .append("<p>Enter a property name and value to be stored on this node</p>")
        .append($("<input>")
            .attr("type", "hidden")
            .attr("name", "nodeId")
            .val(node.nodeId))
        .append("<span>key:</span>")
        .append($("<input>")
            .attr("type", "text")
            .attr("name", "key"))
        .append("<span>value:</span>")
        .append($("<input>")
            .attr("type", "text")
            .attr("name", "value"))
        .append($("<button>")
            .attr("type", "button")
            .append("Submit edit")
            .click(function() { submitPropertyEdit(); })
        ));
    */

    $("body").append(nodeEditor);
}

function displayAlternativeMappings(node) {
    var altMappingsService = "http://localhost:7474/db/data/ext/treeJsons/node/" + node.id + "/getTNRSMappings";
    var xhr = getXhr(altMappingsService, function() {
        
        var response = JSON.parse(xhr.responseText);

        if (response.ids_ordered_by_score.length > 0) {
        
            $("#altMatchesContainer")
                .append($("<form>")
                    .attr("id", "altMatchesForm")
                    .append("Assign a suggested match:<br/>"));

            var ids = response.ids_ordered_by_score
            var matches = response.alternate_matches;
            var idNameMap = {};
            for (var i=0; i < ids.length; i++) {
            
                var id = matches[ids[i]].matched_ott_id;
                var score = (matches[ids[i]].score * 100).toFixed(0);
                var name = matches[ids[i]].matched_name;
                var description = " (" + matches[ids[i]].nomenclature_code + ") score: " + score;

                idNameMap[id] = name;
                        
                $("#altMatchesForm")
                    .append($("<input>")
                        .attr("type", "radio")
                        .attr("name", "ottId")
                        .val(matches[ids[i]]))
                    .append("<strong>" + name + "</strong> " + description)
                    .append("<br/>");
            }
        
            $("#altMatchesForm")
/*                .append($("<input>")
                    .attr("type", "hidden")
                    .attr("name", "namesForIds")
                    .val(JSON.stringify(idNameMap))) */
                .append($("<button>")
                    .attr("type", "button")
                    .append("Assign")
                    .click(function() { submitAltMatchAssignment(matches[id]) }));
        } 
    });
    xhr.send();
}

/////////////////////////////////////////////////
//
//      autocomplete search taxon assign form
//

function updateTaxonAutocomplete() {
    
    var autocompleteService = "http://localhost:7474/db/data/ext/sourceJsons/graphdb/autocompleteTaxonName/";

    // submit the query for name strings longer than 2 characters
    var name = $("#taxonNameAutocomplete").val();
    if (name.length > 1) {
        var xhr = getXhr(autocompleteService, function() {
            
            matches = JSON.parse(xhr.responseText);

            if ($("#autocompleteSuggestions")) {
                $("#autocompleteSuggestions").remove();
            }
            
            $("#assignTaxonForm")
                .append($("<ul>")
                    .attr("id", "autocompleteSuggestions"));
                    
            $(matches).each(function(i, match) {

                var matchEntry = match;

                $("#autocompleteSuggestions")
                    .append($("<li>")
                        .append(match.name)
                        .click(function() { fillAssignTaxonForm(matchEntry); }));
            });
        });
        
        xhr.send(JSON.stringify({"queryString": name}));
    }
}

function clearAssignTaxonForm(matchEntry) {
    $("#assignTaxonForm input[name='ottId']").val("");
//    $("#assignTaxonForm input[name='ottTaxonName']").val("");    
    $("#submitAssignTaxonButton")
        .attr("disabled","disabled")
        .click(undefined);
}

function fillAssignTaxonForm(matchEntry) {
    $("#assignTaxonForm input[name='ottId']").val(matchEntry.ottId);
    $("#assignTaxonForm input[name='ottTaxonName']").val(matchEntry.name);
    $("#autocompleteSuggestions").remove();
    $("#submitAssignTaxonButton")
        .removeAttr("disabled")
        .click(function() { submitTaxonAssignForm(); })
}

function submitTaxonAssignForm() {

    var nodeId = $("#assignTaxonForm input[name='nodeId']").val();
    var ottId = $("#assignTaxonForm input[name='ottId']").val();
    var ottName = $("#assignTaxonForm input[name='ottTaxonName']").val();
    
    var data = JSON.stringify({"ottId": ottId, "taxonName": ottName});

    
    assignTaxon(nodeId, data);
}

//////////////////////////////////////////////////
//
//      tnrs suggested fuzzy matches assign form
//

function submitAltMatchAssignment(matchEntry) {
//    alert(JSON.stringify(matchEntry));
    
    var nodeId = $("#assignTaxonForm input[name='nodeId']").val();
    var ottId = matchEntry.matched_ott_id;
    var ottName = matchEntry.matched_name;
    
    var data = JSON.stringify({"ottId": ottId, "taxonName": ottName});
        
    //    alert(data);
    assignTaxon(nodeId, data);
    
}

//////////////////////////////////////////////////
//
//      general taxon assignment functions
//

function assignTaxon(nodeId, data) {
    
    if (!isWorkingCopy) { makeWorkingCopy(nodeId, assignTaxon, data); return false; }
    
    var assignTaxonService = "http://localhost:7474/db/data/ext/sourceJsons/node/" + nodeId + "/assignTaxon";
    var xhr = getXhr(assignTaxonService, function() {
        
        var response = JSON.parse(xhr.responseText);
        if (response.event == "success") {
            $("#nodeEditor").remove();
            setupTree(rootNodeId);
        } else {
            alert(response.message);
        }
    });
    
    xhr.send(data);
    
}

//////////////////////////////////////////////////
//
//      tag annotations form
//

function submitTagAnnotation() {
    alert("otu tagging not yet implemented");
}

//////////////////////////////////////////////////
//
//      general tree editor drawing functions
//

function setCoords() {
    bbox = document.getElementById("treeSVG").getBoundingClientRect();
    xo = bbox.left + margin.left;
    yo = bbox.top + margin.top;
}

// close the node editor (if open) if the user clicks anywhere else
$(document).click(function(event) {
    var target = $(event.target);
    if (target.attr('id')) {
    
        // if we didn't click in the node editor
        if (!target.attr('id').match(/^nodeEditor/) && target.parents('#nodeEditor').length == 0) {
            $('#nodeEditor').remove();
        }
    }
});

///////////////////////////////////////
//
//
//      server calls for general info
//
//
//


// Get the source id for a tree id
function getSourceIdForTreeId(treeId) {

    if( treeId == false || treeId == "undefined" ) {
        return false;
    }
    
    var sourceIdService = "http://localhost:7474/db/data/ext/treeJsons/graphdb/getSourceIdForTreeId";
    var xhr = getXhr(sourceIdService);
    xhr.send(JSON.stringify({"treeId":treeId}));
    return JSON.parse(xhr.responseText);
}

//////////////////////////////////////////
//
//
//      server calls bound to buttons
//
//
//

function doTNRS() {

    if (!isWorkingCopy) { makeWorkingCopy(null, doTNRS); return false; }

    // need to adjust this check to work with new tnrs storage
    if (/*Object.keys(tnrsResultsById).length > 0*/ false) {

        // TODO: would be better to have "cancel" option set as default...
        var proceed = confirm("TNRS results already exist for this tree. Re-submitting the TNRS request will overwrite the existing results with new ones. Are you sure you want to do this?");
        if (!proceed) {
            return;
        }
    }

    var tnrsService = "http://localhost:7474/db/data/ext/treeJsons/node/" + getRootIdFromTreeId(treeId) + "/doTNRSForDescendants";
    var xhr = getXhr(tnrsService, function() {
        var response = JSON.parse(xhr.responseText);
        if (response.event == "success") {

        $("#resultsSummary").html("TNRS: matched " + response.matched_name_ids.length + " out of " +
            (response.unmatched_name_ids.length + response.matched_name_ids.length) +
            " names, including " + response.unambiguous_name_ids.length +
            " exact, non-homonym matches. The taxonomic context is <strong>" + response.context + "</strong>.");            
 
            // TODO: should fix so we don't have to set up twice
            setupTree(response.rootNodeId);
        
        } else {
            alert(response.message);
        }
    });
    
    alert("Your request for taxonomic name resolution has been submitted. This page will reload when the request is "
        + "complete.\n\nThis could take some time if the tree contains a large number of taxa.");
    
    xhr.send(JSON.stringify({"useMappedNames": false}));
}

function deleteTree(sourceId, treeId) {
    
    var deleteTreeService = "http://localhost:7474/db/data/ext/treeJsons/graphdb/deleteTreeFromTreeId";
    xhr = getXhr(deleteTreeService, function() {
        var response = JSON.parse(xhr.responseText);
        if (response.event == "success") {
            alert("Tree " + response.treeId + " has been deleted.");
        }
        window.location.href="source_view.py?sourceId=" + sourceId;
    });
    xhr.send(JSON.stringify({"sourceId": sourceId, "treeId": treeId}));
}

function designateIngroup(nodeId){
    
    if (!isWorkingCopy) { makeWorkingCopy(nodeId, designateIngroup); return false; }
    
	var ingroupService = "http://localhost:7474/db/data/ext/treeJsons/graphdb/ingroupSelect";
    var xhr = getXhr(ingroupService, function() {
        setupTree(xhr.responseText);
	});
	xhr.send(JSON.stringify({"nodeId": nodeId}));
}

function reroot(nodeId){

    if (!isWorkingCopy) { makeWorkingCopy(nodeId, reroot); return false; }

    var rerootService = "http://localhost:7474/db/data/ext/treeJsons/graphdb/rerootTree";
    var xhr = getXhr(rerootService, function() {
        setupTree(JSON.parse(xhr.responseText));
    });
    xhr.send(JSON.stringify({"nodeId": nodeId}));
}

function makeWorkingCopy(nodeIdOfInterest, callback, data) {
    
    if (isWorkingCopy) {
        alert("attempt to create a working copy when this already is one");
        return;
    }

    var workingCopyService = "http://localhost:7474/db/data/ext/treeJsons/node/" + getRootIdFromTreeId(treeId) + "/makeWorkingCopy";
    var xhr = getXhr(workingCopyService, function() {
    
        response = JSON.parse(xhr.responseText);
    
        if(response.event == "success") {
            isWorkingCopy = true;
            
            // TODO: we should have an option for the makeWorkingCopy method on the back end to
            // accept a node id and return the new node id for the corresponding node in the working
            // copy that is made. Otherwise if we make a working copy only when someone attempts to
            // edit a node, we have no way of knowing which node in the working copy to apply the
            // edit to since all the nodes in the working copy are new.
            
            var newRootId = response.working_root_node_id;
            rootNodeId = newRootId;
//            setupTree(newRootId);

            if(callback) {
                callback(response.node_of_interest_new_id, data);
            }
            
            isWorkingCopy = true;
            updateWorkingCopyStatus();
            
//            alert("A working copy of the tree has been created to record your edits. Please try your last command again.");
        } else {
            alert(response.message);
        }
	});
/*
    if (workingCopyAlertsOn) {
        alert("A note about editing trees:\n\nEdits to trees are stored in the database. To allow you to revert changes, we will create "
            + "a working copy of this tree. All future edits will also be applied to the working copy. You may record your edits permanently "
            + "with the 'Record my edits' button, which will replace the original tree. If you do not wish to record your edits, you may "
            + "choose to discard them using the 'Revert to saved copy' button.\n\nYou may choose to record or discard your edits at a future "
            + "time: you will not lose any unrecorded edits by leaving this page. Once you click 'Record my edits', however, the original "
            + "version of this tree will be permanently overwritten with your edited copy. You must record your edits in this way before you "
            + "can publish the edited tree to the public datastore.\n\nThis message will be displayed the first time we create a working copy "
            + "of any tree. You may disable this in the Configure page.");
    }
*/

    xhr.send(JSON.stringify({"nodeIdOfInterest":nodeIdOfInterest}));
}

function recordEdits() {
    
    var proceed = confirm("Are you sure you want to record your edits? This will overwrite the previously saved tree and cannot be undone.");
    if (!proceed) { return false; }
    
    var recordService = "http://localhost:7474/db/data/ext/treeJsons/node/" + getRootIdFromTreeId(treeId) + "/saveWorkingCopy";
    xhr = getXhr(recordService, function() {
    
        response = JSON.parse(xhr.responseText);
    
        if(response.event == "success") {
//            alert(JSON.stringify(response));
            var newRootId = response.saved_root_node_id;
            setupTree(newRootId);
            setupTree(newRootId);
            
            isWorkingCopy = false;
            updateWorkingCopyStatus();
//            alert("Your edits to the tree have been saved. A new working copy will be created if you make more changes.");
        } else {
            alert(response.message);
        }
    });
    xhr.send();
}

function revertEdits() {

    var proceed = confirm("Are you sure you want to discard your edits? This cannot be undone.");
    if (!proceed) { return false; }
    
    var revertService = "http://localhost:7474/db/data/ext/treeJsons/node/" + getRootIdFromTreeId(treeId) + "/discardWorkingCopy";
    xhr = getXhr(revertService, function() {
    
        response = JSON.parse(xhr.responseText);
    
        if(response.event == "success") {
//            alert(JSON.stringify(response));
            var newRootId = response.restored_original_root_node_id;
            setupTree(newRootId);
            setupTree(newRootId);
            
            isWorkingCopy = false;
            updateWorkingCopyStatus();
//            alert("Your edits to the tree have been discarded. A new working copy will be created if you make more changes.");
        } else {
            alert(response.message);
        }
    });
    xhr.send();
}

function updateWorkingCopyStatus() {
    if (isWorkingCopy) {
        $("#recordButton").removeAttr("disabled").click(function() { recordEdits(); });
        $("#revertButton").removeAttr("disabled").click(function() { revertEdits(); });
        $("#statusMessage").html("Viewing <strong>working copy</strong>. Click 'Record my edits' to record changes or 'Revert to saved copy' to discard them.");
    } else {
        $("#recordButton").attr("disabled","disabled").unbind("click");
        $("#revertButton").attr("disabled","disabled").unbind("click");
        $("#statusMessage").html("Viewing <strong>saved copy</strong>.");
    }
}

///////////////////////////////////////
//
//
//      onload and globals
//
//
//

function resetEditRadio() {
    $('button[id="refocusButton"]').button('toggle');
}

var treeId;
var rootNodeId;
var rootHasTNRSProperty;
var sourceId;
var xo; // the left side of the tree svg
var yo; // the top of the tree svg
var bbox; // the bounding box element for the tree svg

// default setting for the onpage alerts. currently hardcoded on, but should
// be set from a configuration setting from the db
var workingCopyAlertsOn = true;

// will be set to true if the tree is a working copy. checked every time we do a storable
// edit, and if not true, a working copy will be created before the edit is performed
var isWorkingCopy;

// on page load
$(document).ready(function() {

    // TODO: remove alert features once the working copy thing is implemented

    // get the tree id from the incoming GET variables
    treeId = getQueryVariable('treeId');

    sourceId = false;
    if (!treeId) {
        // if no tree id, disable buttons
        $("button").each(function(i, element) {
            $(element).addClass("disabled").click(undefined);
        });
        
        // dummy variables so services for dropdowns don't barf
        treeId = "undefined";
        sourceId = "undefined";

    } else {
        // otherwise get the source id for this tree
        sourceId = getSourceIdForTreeId(treeId);
    }

    // fill dropdowns (whether we have a tree or not)
    getSourceTreeList(sourceId, treeId);
    getAllLocalTreeList(treeId);
    
    // set up the page according to whether we have a tree or not
    var title
    rootNodeId = false;
    if (treeId != "undefined") {
        title = 'Viewing tree ' + treeId + ' from source '
            + '<a href="source_view.py?sourceId=' + sourceId + '">' + sourceId + '</a>';
        rootNodeId = getRootIdFromTreeId(treeId);

        // get information about the root node
        var rootNodeService="http://localhost:7474/db/data/node/"+rootNodeId;
        var xhr = new XMLHttpRequest();
        xhr.open("GET", rootNodeService, false);
        xhr.setRequestHeader("Accept", "*/*");
        xhr.setRequestHeader("Content-Type","Application/json");
        xhr.send();
        
        // report the status of working/saved copy
        var rootData = JSON.parse(xhr.responseText).data;
        isWorkingCopy = rootData.is_working_copy ? true : false;
        updateWorkingCopyStatus();
        
        // setup buttons
        $("#deleteTreeButton").click(function() { var proceed = confirm("Are you sure you want to delete this tree? This cannot be undone."); if (proceed) { deleteTree(sourceId, treeId); } });
        $("#tnrsButton").click(function() { doTNRS(treeId); });
        resetEditRadio();
        
    } else {
        title = "No tree specified"
    }
    document.getElementById("treeId").innerHTML = title;

    // display the tree if we have one
    if (rootNodeId) {
        // do it twice to get the height right // TODO: fix this...
        setupTree(rootNodeId);
        setupTree(rootNodeId);
//        d3.select(self.frameElement).style("height", "800px");
    }        
});

// when the tree svg loads, get its position for future reference by the node editor
$(document.getElementById("treeSVG")).ready(setCoords)


        </script>
    </body>
</html>
